<div class="container">
    <div class="row">

        <form role="form">
            <div class="form-group">
                <label for="assignedTo">Assigned To</label>
                <input type="email" class="form-control" id="assignedTo" placeholder="Assigned To">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="password" class="form-control" id="description" placeholder="Description">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea id="content" cols="40" rows="4" class="form-control" placeholder="Content"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>

    </div>
</div>